[Unit]
Description=Mopidy
Documentation=https://www.mopidy.com/
After=network.target

[Service]
Environment=STNORESTART=yes
Environment=LD_LOAD_LIBRARY=/usr/lib
ExecStart=/home/defaultuser/.local/bin/mopidy
Restart=on-failure
RestartPreventExitStatus=1
SuccessExitStatus=2
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target
